<div id="success-message" class="alert alert-success <%= noMessage ? 'invisible' : '' %>" role="alert">
  <%= successMsg %>
</div>

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">One Stop Shop</h1>
    <p class="lead text-muted">Easy, simplyfied shoping experince for you</p>
  </div>
</section>

<div class="products-grid text-muted">
  <div class="container">
    <div class="row">
      <% products.forEach(function (product) { %>
        <div class="card">
          <img data-src="holder.js/100px280/thumb" alt="<%= product.title %>">
          <p class="card-text"><%= product.title %></p>
          <p class="card-text">
            <span class="float-right" ><a href="/cart/add/<%= product.sku %>" class="btn btn-sm btn-info">Add to Cart</a></span>
            <span>Rs. <%= product.price %></span>
          </p>
        </div>
      <% }) %>
    </div>
  </div>
</div>
